<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/morris.css" rel="stylesheet">
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/raphael-2.1.4.min.js"></script>
    <script src="static/vendor/morris.min.js"></script>
    <script src="static/vendor/justgage.js"></script>
  <title>Gideon - Dashboard</title>

</head>
  <body>
    <div>
      <a href="/profile">Update api</a>
      <div id="temperature-gauge"></div>
      <div id="humidity-gauge"></div>
      <div id="disk-gauge"></div>
      <div id="ram-gauge"></div>
      <div id="cpu-gauge"></div>
      <div id="methane-gauge"></div>
      <div id="x" ></div>
    
      <!-- <div class="" id="dht11-chart"></div>  -->
    </div>
    <script src="static/js/methane.js"></script>
    <script src="static/js/cpu.js"></script>
    <script src="static/js/temperature.js"></script>
    <script src="static/js/humidity.js"></script>
    <script src="static/js/disk.js"></script>
    <script src="static/js/ram.js"></script>
    <script src="static/js/webcam.js"></script>

    <!--  <script src="static/js/chart.js"></script>   -->
  </body>
</html>