{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block user %} {{user}} {% endblock %}
{% block content %}
<div class="profile-row">
<form action="/profile" method="POST" enctype="multipart/form-data">
  <label for="api" class="form-label">API</label>
  <input type="text" class="text-field" id="api" name="api">
  <label for="profile_image" class="form-label">Profile Image</label>
  <input type="file" class="img-field" id="profile_image" name="profile_image">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
