{% extends 'base.html' %}
{% block user %} {{user}} {% endblock %}

{% block title %}Team{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="card-wrapper">
  <div class="card-items">
    <img src="https://img.pngio.com/avatar-icon-png-105-images-in-collection-page-3-avatarpng-512_512.png" alt="Avatar Icon Png (105+ images in Collection) Page 3">
    <h3>Tarun Kumar Jain</h3>
    <span>Enroll - TCA1709120</span> <br>
    <span>Role - System Architect & DB Admin</span>
  </div>
  <div class="card-items">
    <img src="https://img.pngio.com/avatar-png-download-image-png-arts-avatarpng-512_512.png" alt="Avatar PNG Download Image | PNG Arts">
    <h3>Shubham Singhai</h3>
    <span>Enroll - TCA1709121</span> <br>
    <span>Role - Object Detector Module</span>
  </div>
  <div class="card-items">
    <img src="https://img.pngio.com/avatar-png-icon-66869-free-icons-library-avatarpng-512_512.jpg" alt="Avatar Png Icon #66869 - Free Icons Library">
    <h3>Anukul Jain</h3>
    <span>Enroll - TCA1709133</span> <br>
    <span>Role - Dashboad Designer</span>
  </div>
  <div class="card-items">
    <img src="https://img.pngio.com/39692-png-images-pngio-avatarpng-512_512.png" alt="39692 - PNG Images - PNGio">
    <h3>Aarjav Kumar Jain</h3>
    <span>Enroll - TCA1709119</span> <br>
    <span>Role - Voice Module Developer</span>
  </div>
  <div class="card-items">
    <img src="https://img.pngio.com/avatar-icon-png-96686-free-icons-library-avatarpng-512_512.jpg" alt="Avatar Icon Png #96686 - Free Icons Library">
    <h3>Vaishali Jain</h3>
    <span>Enroll - TCA1709064</span> <br>
    <span>Role - Object Follower Module</span>
  </div>
  <div class="card-items">
    <img src="https://img.pngio.com/avatar-female-person-user-woman-young-icon-avatarpng-512_512.png" alt="Avatar, female, person, user, woman, young icon">
    <h3>Palak Jain</h3>
    <span>Enroll - TCA1709122</span> <br>
    <span>Role - API's Developer</span>
  </div>
</div>

</div>
{% endblock %}
